<!-- <div id = "splash"><div id="splash_help"><a class="splash_help">We can help you with that...</a></div></div> -->
<!-- <div id="content"> -->
<div id="content_opening">
  <h1>How do you build a high-performance enterprise?</h1>
  <div class="homeParaLeft wysiwyg">

	<p>You need people who can think clearly, nimbly and imaginatively to explore, implement and achieve what is possible, not just probable. At Second Road we’ve devised an innovative system of Thinking Technologies™ designed to help clients prosper during times of unprecedented complexity and change.</p> 
  </div>	
  <div class="homeParaRight wysiwyg">
	<p>Your firm will learn to think creatively to:</p>
	<ul>
      <li>convert complexity into strategic advantage</li>
      <li>generate rule-breaking ideas</li>
      <li>engage the workforce</li>
      <li>demystify voluminous data</li>
      <li>foster thoughtful leadership</li>
      <li>reveal new opportunities hidden in complex questions.</li>
	</ul>
	<p>Click here for stories our work with clients</p>
  </div>
  <ul class="homeLinks" />
</div>
<!-- </div> -->

<div id="extras" class="homeServices">  
  <%= image_tag("services-image.jpg", :width => "720", :height => "359" ) %>
  <h2>OUR DOMAINS OF EXPERIENCE AND EXPERTISE</h2>
  <div class="servicesBox" id="servicesBoxStrategise" style="display:block">
    <a href="#strategise">
      <h3>STRATEGISE</h3>
      <p>How do you build a future in an age of uncertainty?</p>
    </a>
  </div>

  <div class="servicesBox">
    <a href='#innovate'>
	  <h3>INNOVATE</h3>
      <p>How do you discover new opportunities and generate new ideas?</p>
    </a>    
  </div>
  <div class="servicesBox">
    <a href='#illuminate'>
	  <h3>ILLUMINATE</h3>
      <p>How do you turn too much information into useful knowledge?</p>
    </a>
  </div>
  <div class="servicesBox">
    <a href="#engage">
	  <h3>ENGAGE</h3>
      <p>How do you inspire employees to act?</p>
    </a>    
  </div>

</div>
<div class= "home_domain" id = "strategise">
  <h1>Strategise</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you build a future in an age of uncertainty? </em></strong></p>

  	<p>A successful strategy should be a robust blend of imagination and coherent intent. We work with clients to ignite their inherent creativity and to design their future success by: </p>
		<ul>
			<li>redefining the industry landscape</li>
			<li>reconfiguring enterprise systems</li>
			<li>re-energizing revenue models</li>
			<li>reinvigorating legacy products and services.</li>
		</ul>
    </div>
    <div class = "col">

		<p>We use the power of design and conversation to re-calibrate traditional instruments of strategy to help leaders:</p>
		<p>Rethink their industries and build new pathways into the future (Downer Strat Lab)
		<p>Change deeply bureaucratic systems and be more relevant to customers (ATO )</p>
		<p>Create compelling value propositions that become lucrative success stories? (Downer Telco)</p>
	
    </div>
  </div>
</div>


<div class = "home_box_set">
	<style type="text/css">

	a:focus {
		outline: none;
	}
	#panel {
		background: #754c24;
		height: 200px;
		display: none;
	}
	.slide {
		margin: 0;
		padding: 0;
		border-top: solid 4px #422410;
		background: url(images/btn-slide.gif) no-repeat center top;
	}
	.btn-slide {
		background: url(images/white-arrow.gif) no-repeat right -50px;
		text-align: center;
		width: 144px;
		height: 31px;
		padding: 10px 10px 0 0;
		margin: 0 auto;
		display: block;
		font: bold 120%/100% Arial, Helvetica, sans-serif;
		color: #fff;
		text-decoration: none;
	}
	.active {
		background-position: right 12px;
	}
	#behind_box{
		position:relative;top:0;left:0; z-index: 1;
	}
	#front_box{
		position:relative;top:0;left:0; z-index:2;
	}
	</style>
	<div class = "home_box_set">
		<div class="box_element1"><a class = "viewExpand"><%= image_tag ("180author.png") %></a></div>
		<div id = "expandable">
			<span class = "vid"><iframe title="YouTube video player" width="500" height="360"
			src="http://www.youtube.com/embed/uoSLCZWxBYk" frameborder="0" allowfullscreen></iframe></span>
			<div class= "closer"><a class="closer"></a></div>
		</div>
		<div class="box_element2"></div>
		<div class="box_element1"></div>
		<div class="box_element2"><%= image_tag ("180wedge.png") %></div>
		<div class="box_element1"><%= image_tag ("180curveboard.png") %></div>
		<div class="box_element2"></div>
		<div class="box_element1"></div>
		<div class="box_element2"></div>
		<div class="box_element1"><%= image_tag ("180pens.png") %></div>
	</div>


</div>

<div class= "home_domain" id = "innovate">
	<h1>Innovate</h1>
  <div class = "text_cols">
    <div class = "col">
      <p>Brilliant ideas that deliver a compelling competitive edge – come from the process of design. </p>
      <p>Second Road works with clients to:	</p>
      <ul>
      	<li>create exceptional experiences for customers and employees</li>
      	<li>discover new, unmet customer needs</li>
      	<li>blend wild imagination with hard-nosed invention</li>
      	<li>embed a creative disposition into your firm’s culture</li>
      </ul>
    </div>
    <div class = "col">
	  <p>To propel innovation we help you:</p>
	  <p>Build a culture of creativity (Suncorp design awareness)</p>
	  <p>Bring the user experience to life (PwC)</p>
	  <p>Capture and create new customer value (GCIT)</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tadomainServicesg ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>

</div>
<div class= "home_domain" id = "engage">
	<h1>Engage</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you inspire a community to act?</em></strong></p>
      <p>Change is seldom welcomed. The prevailing habits, obstinate behavior and bureaucratic inertia of an unengaged workforce disrupt the most well-intentioned organizational change campaigns. </p>
      <p>The tapestry of a company's culture is woven from singular personalities and interdependent relationships. Leaders are continually challenged to unlock the agency of the individual while simultaneously cultivating a shared sense of citizenship. Using Second Road's union of design and language, leaders no longer dictate change - they engage communities as co-creators of a collectively realised future.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road's Thinking Technologies™ have helped a variety of clients <strong>liberate and mobilize the creative energy of their workforce</strong> to engage communities of action.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>
</div>
<div class= "home_domain" id = "illuminate">
	<h1>Illuminate</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you inspire a community to act?</em></strong></p>
      <p>Change is seldom welcomed. The prevailing habits, obstinate behavior and bureaucratic inertia of an unengaged workforce disrupt the most well-intentioned organizational change campaigns. </p>
      <p>The tapestry of a company's culture is woven from singular personalities and interdependent relationships. Leaders are continually challenged to unlock the agency of the individual while simultaneously cultivating a shared sense of citizenship. Using Second Road's union of design and language, leaders no longer dictate change - they engage communities as co-creators of a collectively realised future.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road's Thinking Technologies™ have helped a variety of clients <strong>liberate and mobilize the creative energy of their workforce</strong> to engage communities of action.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element1"></div>
	
	<div class="box_element2"><%= image_tag ("people/maureen_thurston.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180reader.png") %></div>
	<div class="box_element1"><%= image_tag ("180author.png") %></div>
</div>

<div class= "home_domain" id = "ourdna">
	<h1>Our DNA</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>What makes us different?</em></strong></p>
	   <p><strong>Design and Language are the life force that defines
	Second Road.</strong></p>

	    <p>The deliberate fusion of these two distinct yet complementary
	systems acts as a catalyst to <strong>liberate creative thinking and
	cohere diverse communities.</strong></p>

	    <p>Avoiding complexity is not an option for leaders today.
	Complexity is the landscape - the challenge is how to respond.
	Second Road relishes big, wicked problems. Our whole-of-system
	approach harnesses the ambiguous forces that often frustrate our
	clients. At the core of our approach is the art and science that
	reside in design and language. We use these elements to <strong>carve
	creative, pragmatic pathways through complexity.</strong></p>
    </div>
    <div class = "col">
		    <p>The genius of language is its ability to unlock meaning, create
		clarity and convey relevance in both written and verbal
		communication.</p>

		    <p>The elegance of design is its capacity to discover, invent and
		prototype with end users front and centre.</p>

		    <p>Together, language and design <strong>transform complexity into
		opportunity</strong>.</p>
    </div>
  </div>
</div>


<div id="extras"></div>
<div id="promos"></div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>
</div>

<div class= "home_domain" id = "secondroadstory">
	<h1>The Second Road Story</h1>
  <div class = "text_cols">
    <div class = "col">
		    <p>Aristotle believed in two roads to truth, according to Second
		Road founder Tony Golsby Smith. The <strong>first road</strong>
		followed the path of logic using an analytical mode of inquiry. The
		<strong>second road</strong> offered an alternative path of rhetoric,
		intent and invention. The first road is suitable for questions of
		science, the second for exploring human interactions.</p>

		    <p>Fast-forward two millennia. The western world of management
		chose the first road during the 19<span>th</span> and
		20<span>th</span> centuries to address burgeoning
		industrialisation. Scalability, predictability and reliability were
		attainable goals of the time.</p>


    </div>

    <div class = "col">
		    <p><strong>Today, the business world is a much different
		place.</strong> Volatile change makes it impossible to simply 'make a
		plan and stick to it'. Logic and analysis alone are not enough to
		prepare an organization for a future in a shifting, global
		environment.</p>

		    <p>Business leaders looking for a better way to <strong>envision
		compelling yet flexible strategy, create common purpose and
		mobilize people to action</strong> need new skills derived from
		design and language. The time has come to discover the second
		road.</p>

    </div>
  </div>
</div>



<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>
</div>


<div class= "home_domain" id = "thinkinglab">
	<h1>Room to think bigger</h1>
  <div class = "text_cols">
    <div class = "col">
		<div id = "expandable2">
		  <%= image_tag 'thinking_lab_plan_rough.png', :width => 640, :height => 400   %>
		</div>
	
		    <p>The physical space that you're in will influence how you think. Pokey, bland spaces
			encourage narrow, plain thinking. Creative space promotes creative thought.</p>
			<p>
				We've designed our thinking labs to get groups thinking with creativity and rigour.
			</p>

		    <p><a class = "viewExpand2"><%= image_tag 'p_holder_lab360x180.png', :width => "500px"%></a></p>	

    </div>

    <div class = "col">

    </div>
  </div>
</div>


<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"><a id="trigger_exp" class = "fuse">Click</a></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>
</div>

<div class = "home_box_set">

	<div class="box_element1"></div>
	<div id = "trigger_exp_target">here is the hidden div</div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>
</div>



<div id="promos">
  <div class="promoBox">
    <h3>What is an authorised organisation?</h3>
    <a href='http://www.reactive.com.au'>Play video</a>
  </div>
</div>
