<div id = "splash"><div id="splash_help"><a class="splash_help">We can help you with that...</a></div></div>
<!-- <div id="content"> -->
<div id="content_opening">
  <h1>How do you create a high-performance enterprise?</h1>
  <div class="homeParaLeft wysiwyg">
	<p>High-performance thinking is the answer: clear, nimble and
imaginative 'thinking-in-action' - thinking that energizes the
exploration and achievement of what's possible.</p>

    <p>At Second Road we've devised an innovative system of Thinking
Technologies™, grounded in the art of language and the craft of
design, <strong>to help clients prosper during times of
unprecedented complexity and change.</strong> The modes of thinking
unique to design and language are essential for creative leaders
searching for ways to overcome thorny organisational, cultural or
competitive challenges.</p>
  </div>

  <div class="homeParaRight wysiwyg">
	<p>Thriving high-performance enterprises think creatively to:</p>

    <ul>
      <li>Convert complexity into strategic advantage</li>

      <li>Generate rule-breaking ideas that breed innovation</li>

      <li>Engage the workforce towards a sense of shared citizenship</li>

      <li>Demystify voluminous data to extract insight and meaning</li>

      <li>Foster an ethic of thoughtful leadership.</li>
    </ul>

    <p>Our goal is to navigate the economic and social shifts of the
present and build a better future. Second Road uses its proven
Thinking Technologies to reveal the opportunities hidden in complex
questions.</p>
  </div>
  <ul class="homeLinks" />
</div>
<!-- </div> -->

<div id="extras" class="homeServices">  
  <%= image_tag("services-image.jpg", :width => "720", :height => "359" ) %>
  <h2>OUR DOMAINS OF EXPERIENCE AND EXPERTISE</h2>
  <div class="servicesBox" id="servicesBoxStrategise" style="display:block">
    <a href="#strategise">
      <h3>STRATEGY</h3>
      <p>How do you build a future in an age of uncertainty?</p>
    </a>
  </div>

  <div class="servicesBox">
    <a href='#innovate'>
	  <h3>INNOVATION</h3>
      <p>How do you discover new opportunities and generate new ideas?</p>
    </a>    
  </div>

  <div class="servicesBox">
    <a href="#engage">
	  <h3>ENGAGEMENT</h3>
      <p>How do you inspire a community to act?</p>
    </a>    
  </div>

  <div class="servicesBox">
    <a href='#illuminate'>
	  <h3>ILLUMINATION</h3>
      <p>How do you turn information into intelligence and insight?</p>
    </a>
  </div>
</div>
<div class= "home_domain" id = "strategise">
  <h1>Strategise</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you build a future in an age of uncertainty? </em></strong></p>

      <p>Today’s world offers few absolutes and even fewer formulas for success. It is difficult to compete in an environment of lightning-fast change, let alone envision a future that doesn’t yet exist. To address these wicked problems, astute leaders need to re-calibrate the traditional instruments of strategy using the tools of conceptualization, conversation and co-creation. </p>
  	
    </div>
    <div class = "col">
    	<p>A successful strategy should be a robust blend of imagination and will – a dynamic, collaborative rhythm activated by clear, coherent intent. We work with clients to ignite their inherent creativity and to design their future success by: </p>
		<ul>
			<li>redefining the industry landscape</li>
			<li>reconfiguring enterprise systems</li>
			<li>re-energizing revenue models</li>
			<li>reinvigorating legacy products and services.</li>
		</ul>
		<p>Fueled by the power of design and language, Second Road enables leaders to discover what is possible, not just probable.</p>
    </div>
  </div>
</div>


<div class = "home_box_set">
	<style type="text/css">

	a:focus {
		outline: none;
	}
	#panel {
		background: #754c24;
		height: 200px;
		display: none;
	}
	.slide {
		margin: 0;
		padding: 0;
		border-top: solid 4px #422410;
		background: url(images/btn-slide.gif) no-repeat center top;
	}
	.btn-slide {
		background: url(images/white-arrow.gif) no-repeat right -50px;
		text-align: center;
		width: 144px;
		height: 31px;
		padding: 10px 10px 0 0;
		margin: 0 auto;
		display: block;
		font: bold 120%/100% Arial, Helvetica, sans-serif;
		color: #fff;
		text-decoration: none;
	}
	.active {
		background-position: right 12px;
	}
	#behind_box{
		position:relative;top:0;left:0; z-index: 1;
	}
	#front_box{
		position:relative;top:0;left:0; z-index:2;
	}
	</style>
	<div class = "home_box_set">
		<div class="box_element1"><a class = "viewExpand"><%= image_tag ("180author.png") %></a></div>
		<div id = "expandable">
			<span class = "vid"><iframe title="YouTube video player" width="500" height="360"
			src="http://www.youtube.com/embed/uoSLCZWxBYk" frameborder="0" allowfullscreen></iframe></span>
			<div class= "closer"><a class="closer"></a></div>
		</div>
		<div class="box_element2"></div>
		<div class="box_element1"></div>
		<div class="box_element2"><%= image_tag ("180wedge.png") %></div>
		<div class="box_element1"><%= image_tag ("180curveboard.png") %></div>
		<div class="box_element2"></div>
		<div class="box_element1"></div>
		<div class="box_element2"></div>
		<div class="box_element1"><%= image_tag ("180pens.png") %></div>
	</div>


</div>

<div class= "home_domain" id = "innovate">
	<h1>Innovate</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you discover new opportunities and generate new ideas?</em></strong></p>
      <p>Harnessing the dynamic forces that envelop an organization is not a task for the faint-hearted. Resourceful leaders know that success relies on operational dexterity and a genuine capacity to innovate. </p>
      <p>The high-performance enterprise thrives on <strong>brilliant ideas that deliver a compelling competitive edge</strong> - whether looking outwards to revolutionize customer relationships, or inwards to revitalize organizational structures and culture.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road works with clients to:</p>
        <ul>
        	<li>develop exceptional stakeholder experience</li>
			<li>discover the nuances and unarticulated desires of a user</li>
			<li>embed a creative disposition in business culture.</li>
        </ul>
		<p>Our Thinking Technologies™ fuse energies of design and language, uniting wild imagination with hard-nosed invention, to propel the process of innovation. We re-vision; we do not simply re-formulate.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>

</div>
<div class= "home_domain" id = "engage">
	<h1>Engage</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you inspire a community to act?</em></strong></p>
      <p>Change is seldom welcomed. The prevailing habits, obstinate behavior and bureaucratic inertia of an unengaged workforce disrupt the most well-intentioned organizational change campaigns. </p>
      <p>The tapestry of a company's culture is woven from singular personalities and interdependent relationships. Leaders are continually challenged to unlock the agency of the individual while simultaneously cultivating a shared sense of citizenship. Using Second Road's union of design and language, leaders no longer dictate change - they engage communities as co-creators of a collectively realised future.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road's Thinking Technologies™ have helped a variety of clients <strong>liberate and mobilize the creative energy of their workforce</strong> to engage communities of action.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180pens.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"></div>
	<div class="box_element1"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element2"><%= image_tag ("1802rsign.png") %></div>
	<div class="box_element1"></div>
</div>
<div class= "home_domain" id = "illuminate">
	<h1>Illuminate</h1>
  <div class = "text_cols">
    <div class = "col">
      <p><strong><em>How do you inspire a community to act?</em></strong></p>
      <p>Change is seldom welcomed. The prevailing habits, obstinate behavior and bureaucratic inertia of an unengaged workforce disrupt the most well-intentioned organizational change campaigns. </p>
      <p>The tapestry of a company's culture is woven from singular personalities and interdependent relationships. Leaders are continually challenged to unlock the agency of the individual while simultaneously cultivating a shared sense of citizenship. Using Second Road's union of design and language, leaders no longer dictate change - they engage communities as co-creators of a collectively realised future.
      </p>
    </div>
    <div class = "col">
    	<p>Second Road's Thinking Technologies™ have helped a variety of clients <strong>liberate and mobilize the creative energy of their workforce</strong> to engage communities of action.</p>
    </div>
  </div>
</div>
<div class = "home_box_set">
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180wedge.png") %></div>
	<div class="box_element1"></div>
	
	<div class="box_element2"><%= image_tag ("people/maureen_thurston.png") %></div>
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180abcd.png") %></div>
	
	<div class="box_element1"></div>
	<div class="box_element2"><%= image_tag ("180reader.png") %></div>
	<div class="box_element1"><%= image_tag ("180author.png") %></div>
</div>

<div id="promos">
  <div class="promoBox">
    <h3>What is an authorised organisation?</h3>
    <a href='http://www.reactive.com.au'>Play video</a>
  </div>
</div>
