<div id="content">
  <a class="viewToggle">VIEW AS LIST</a>
  <h1>Our Community</h1>
  <div class="wysiwyg">
    <p>We're an eclectic bunch: rhetoricians and designers, pragmatists
    and theorists, consultants and educators. We are driven by unique
    philosophies and a collaborative spirit to realize inspired
    outcomes on behalf of our clients.</p>

    <p>At Second Road we share:</p>

    <ul>
      <li>a love for the creative process</li>
      <li>a desire for converting the status quo into a game-changing future</li>
    </ul>
    <ul>
      <li>a belief in the power of thinking together.</li>
    </ul>
    <p>Our real-world experiences and deep practice in the methods of
    design and language inform our theories for transforming companies
    into high-performance enterprises.</p>
    <p>You're invited to get to know us a little better.</p>
  </div>  
</div>


<div id="communityProfiles">
  <ul class="communityList"><li><a href="/who-we-are/our-community/alex-blunt">ALEX BLUNT</a></li>
  <li><a href="/who-we-are/our-community/alex-cheek">ALEX CHEEK</a></li>
  <li><a href="/who-we-are/our-community/alexis-baum">ALEXIS BAUM</a></li>
  <li><a href="/who-we-are/our-community/amanda-vining">AMANDA VINING</a></li>

  <li><a href="/who-we-are/our-community/andrea-fu">ANDREA FU</a></li>
  <li><a href="/who-we-are/our-community/anne-golsby-smith">ANNE GOLSBY-SMITH</a></li>
  <li><a href="/who-we-are/our-community/brad-graham">BRAD GRAHAM</a></li>
  <li><a href="/who-we-are/our-community/colette-hoelzl">COLETTE HOELZL</a></li>
  <li><a href="/who-we-are/our-community/elise-jacob">ELISE JACOB</a></li>
  <li><a href="/who-we-are/our-community/julian-jenkins">JULIAN JENKINS</a></li>
  <li><a href="/who-we-are/our-community/maureen-thurston">MAUREEN THURSTON</a></li>
  <li><a href="/who-we-are/our-community/maxine-schmidt">MAXINE SCHMIDT</a></li>
  <li><a href="/who-we-are/our-community/meredith-england">MEREDITH ENGLAND</a></li>

  <li><a href="/who-we-are/our-community/nick-ingram">NICK INGRAM</a></li>
  <li><a href="/who-we-are/our-community/nigel-asken">NIGEL ASKEN</a></li>
  <li><a href="/who-we-are/our-community/quinn-chow">QUINN CHOW</a></li>
  <li><a href="/who-we-are/our-community/robert-overend">ROBERT OVEREND</a></li>
  <li><a href="/who-we-are/our-community/ruben-ocampo">RUBEN OCAMPO</a></li>
  <li><a href="/who-we-are/our-community/sarah-fife">SARAH FIFE</a></li>
  <li><a href="/who-we-are/our-community/tim-fife">TIM FIFE</a></li>
  <li><a href="/who-we-are/our-community/tony-golsby-smith">TONY GOLSBY-SMITH</a></li>
  <li><a href="/who-we-are/our-community/tony-weir">TONY WEIR</a></li>

  <li><a href="/who-we-are/our-community/vijay-gehani">VIJAY GEHANI</a></li>
  <li><a class="articleClose">CLOSE</a></li></ul>


  <div class='theBoss'>
	<%= image_tag("people/mark_strom.png", :alt => "Mark Strom", :size => "180x180" ) %>
	<a href='/who-we-are/our-community/nigel-asken' class='overlay'>
	  <span class='memberName'>Mark Strom</span>
	</a>
  </div>
  <div id="membersAjax">
    <div class="membersBox">
	  <div class='member'>  
	    <%= image_tag("people/alex_blunt.png", :alt => "Alex Blunt", :size => "180x180" ) %>
	    <a href='/who-we-are/our-community/alex-blunt' class='overlay'><span class='memberName'>Alex Blunt</span></a>
	  </div>
	  <div class='member'>
	    <%= image_tag("people/michael_york.png", :alt => "Michael York", :size => "180x180" ) %>		
        <a href='/who-we-are/our-community/alex-cheek' class='overlay'><span class='memberName'>Michael York</span></a>
      </div>
      <div class='member'>
	    <%= image_tag("people/meredith_england.png", :alt => "Meredith England", :size => "180x180" ) %>	
        <a href='/who-we-are/our-community/alexis-baum' class='overlay'><span class='memberName'>Meredith England</span></a>
      </div>
      <div class='member'>
	    <%= image_tag("people/tony_gs.png", :alt => "Tony Golsby-Smith", :size => "180x180" ) %>	
		<a href='/who-we-are/our-community/amanda-vining' class='overlay'><span class='memberName'>Tony Golsby-Smith</span></a>
	  </div>
      <div class='member'>
	    <%= image_tag("people/maureen_thurston.png", :alt => "Maureen Thurston", :size => "180x180" ) %>	
		<a href='/who-we-are/our-community/amanda-vining' class='overlay'><span class='memberName'>Maureen Thurston</span></a>
	  </div>
      <div class='member'>
	    <%= image_tag("people/robert_overend.png", :alt => "Robert Overend", :size => "180x180" ) %>	
		<a href='/who-we-are/our-community/amanda-vining' class='overlay'><span class='memberName'>Robert Overend</span></a>
	  </div>
	  <div class='member'>  
	    <%= image_tag("people/alex_blunt.png", :alt => "Alex Blunt", :size => "180x180" ) %>
	    <a href='/who-we-are/our-community/alex-blunt' class='overlay'><span class='memberName'>Alex Blunt</span></a>
	  </div>
	  <div class='member'>
	    <%= image_tag("people/michael_york.png", :alt => "Michael York", :size => "180x180" ) %>		
        <a href='/who-we-are/our-community/alex-cheek' class='overlay'><span class='memberName'>Michael York</span></a>
      </div>
      <div class='member'>
	    <%= image_tag("people/meredith_england.png", :alt => "Meredith England", :size => "180x180" ) %>	
        <a href='/who-we-are/our-community/alexis-baum' class='overlay'><span class='memberName'>Meredith England</span></a>
      </div>
      <div class='member'>
	    <%= image_tag("people/tony_gs.png", :alt => "Tony Golsby-Smith", :size => "180x180" ) %>	
		<a href='/who-we-are/our-community/amanda-vining' class='overlay'><span class='memberName'>Tony Golsby-Smith</span></a>
	  </div>
      <div class='member'>
	    <%= image_tag("people/maureen_thurston.png", :alt => "Maureen Thurston", :size => "180x180" ) %>	
		<a href='/who-we-are/our-community/amanda-vining' class='overlay'><span class='memberName'>Maureen Thurston</span></a>
	  </div>
      <div class='member'>
	    <%= image_tag("people/robert_overend.png", :alt => "Robert Overend", :size => "180x180" ) %>	
		<a href='/who-we-are/our-community/amanda-vining' class='overlay'><span class='memberName'>Robert Overend</span></a>
	  </div>	
    </div>
  </div>
  <div id="promos"></div>
</div>
