

<!-- INTRO PARAGRAPH - HIGH PERFORMANCE ENTERPRISE -->
<div class = "one_col">
	<div class = "openIt"><%= image_tag("placeholders/header_intro.png") %></div>
	
</div>

<div class = "home_text">
  <h1>	How do you shape the future of your enterprise?</h1>
  <!-- <div class="closeIt">CLOSE</div> -->
  <div class="col360">
	<p>At Second Road we’ve devised a unique approach to strategy + innovation to help our clients thrive in times of unprecedented complexity and change. We use the arts of conversation and design to teach organisations how to grapple with ambiguity, tackle big, wicked problems, and unlock creative thinking. To help clients co-design their future we work within six primary domains.</p> 
  </div>	
</div>

<!-- following col to give some space -->
<div class = "one_col">
  <div class = "box_element"> <%= image_tag("spacer.gif") %></div>	
</div>


<!-- LEAD -->

<div class = "one_col">
    <div class = "large_image360"> <%= image_tag("placeholders/home_1.png") %></div>	
    <div class = "openIt">
	  <div class = "captionBox">
	  	<%= image_tag("spacer.gif", :size=> "180x20") %>
	  </div>
	  <div class="domainServices">
  	    <a>
		  <h3>LEAD</h3>
	      <p>influence with wisdom.</p>
	    </a>    
	  </div>
    </div>                      
</div>
<div class = "home_sliding_box">
  <div class = "home_text">
    <!-- <div class="closeIt">CLOSE</div> -->
    <h1>	Lead - influence wisely</h1>
    <div class="col360">
  	  <p>Leaders face uncertainty and the unknown. They take on the responsibility of equipping individuals and organisations with the will to make things different and to realize potential. Designing genuinely better futures requires depth - the mindset and skill to lead with wisdom:</p> 
	  <ul>
		<li>understanding how language shapes reality</li>
		<li>revitalising and sustaining core conversations</li>
		<li>framing compelling arguments for change</li>
		<li>inspiring confidence and courage to co-design.</li>
	  </ul>
    </div>
	<div class = "col450">	
	  <p>We have used the power of language, conversation and presence to help leaders:	</p>
	  <ul>
	    <li>Lead from their own strengths</li>
	    <li>Draw our the brilliance in their teams</li>
		<li>Frame compelling arguments</li>
		<li>Face complexity and chaos</li>
		<li>Engage their people in co-design.</li>
      </ul>
    </div>	
  </div>
  <div class = "case_study_display">
    <div class = "large_image540"><%= image_tag("temp/red_pic.png", :size => "360x540" ) %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
  </div>
</div>



<!-- STRATEGIZE -->

<div class = "one_col">
    <div class = "large_image360"> <%= image_tag("placeholders/home_2.png") %></div>	
	<div class = "openIt">
		<div class="domainServices">
  	      <a>
		    <h3>STRATEGIZE</h3>
	        <p>identity and purpose in an age of uncertainty.</p>
	      </a>    
	  </div>
	</div>                      
</div>

<div class = "home_sliding_box">
  <div class = "home_text" >
    <!-- <div class="closeIt">CLOSE</div>	 -->
    <h1>	Strategise - define direction in an age of uncertainty</h1>
    <div class="col360">
  	  <p>A successful strategy is a robust blend of imagination and coherent intent, a dynamic fit of meaning and context. We work with clients to ignite their inherent creativity and to design their future success by:</p> 
	  <ul>
	    <li>revitalising and harnessing imagination</li>
	    <li>redefining the industry landscape</li>
        <li>recalibrating enterprise systems</li>
	    <li>re-energizing revenue models</li>
	    <li>reinvigorating legacy products and services.</li>
	  </ul>
    </div>
    <div class = "col450">	
	  <p>	We have used the power of story, conversation and design to help leaders:	</p>
	  <ul>
	    <li>Rethink their industries and build new pathways into the future</li>
	    <li>Change deeply bureaucratic systems to become more relevant to customers</li>
	    <li>Create compelling value propositions that translate into competitive advantage.</li>
	  </ul>
    </div>	
  </div>
  <div class = "case_study_display">
    <div class = "large_image360"><%= image_tag("temp/red_pic.png", :size => "540x360" ) %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
  </div>

</div>

<!-- INNOVATE -->

<div class = "one_col">
    <div class = "large_image360"> <%= image_tag("placeholders/home_3.png") %></div>	
    <div class = "openIt">
	  <div class="domainServices">
  	    <a>
		  <h3>INNOVATE</h3>
	      <p>new opportunities, groundbreaking solutions.</p>
	    </a>    
	  </div>
    </div>                      
</div>

<div class = "home_sliding_box">
  <div class = "home_text" >
    <!-- <div class="closeIt">CLOSE</div> -->	
    <h1>	Innovate - discovering new opportunities to invent groundbreaking solutions</h1>
    <div class="col360">
 	  <p>Brilliant ideas that deliver a competitive edge come from a mindset and process of design. Second Road works with clients to:</p> 
	  <ul>	
	    <li>create exceptional experiences for customers and employees</li>
	    <li>discover new, unmet customer needs</li>
	    <li>embed a creative disposition into the firm’s culture.</li>
	  </ul>
    </div>
    <div class = "col450">	
	  <p>	We have used the power of imagination, design and innovation to help leaders:	</p>
	  <ul>
	    <li>Build a culture of creativity</li>
	    <li>Bring the user experience to life</li>
	    <li>Capture and create new customer value.</li>
	  </ul>
    </div>	
  </div>
  <div class = "case_study_display">
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "large_image180"><%= image_tag("temp/red_pic.png", :size => "360x180" ) %></div>

	<div class = "box_element"><%= image_tag("temp/red_pic.png", :size => "180x180" )%></div>	
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
	<div class = "box_element"><%= image_tag("temp/red_pic.png", :size => "180x180" )%></div>
	
    <div class = "large_image180"><%= image_tag("temp/red_pic.png", :size => "360x180" ) %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
  </div>
</div>
<!-- ENGAGE -->

<div class = "one_col">
    <div class = "large_image360"> <%= image_tag("placeholders/home_4.png") %></div>	
    <div class = "openIt">
	  <div class="domainServices">
  	    <a>
		  <h3>ENGAGE</h3>
	      <p>co-creating the future.</p>
	    </a>    
	  </div>
    </div>                      

</div>

<div class = "home_sliding_box">
  <div class = "home_text" >
    <!-- <div class="closeIt">CLOSE</div> -->
    <h1>	Engage - inspire communities toward action</h1>
    <div class="col360">
 	  <p>Let’s be honest, few people like change. Even the most well-intentioned organisational change campaign stalls when inertia sets in. But when leaders learn to truly engage employees in building a shared future, everyone helps to drive change.</p> 

    </div>
    <div class = "col450">	
	  <p>We have used the power of story, inquiry and conversation to help leaders:</p>
	  <ul>
	    <li>Make a corporate change mandate relevant, meaningful and significant for all employees</li>
	    <li>Co-design a shared vision to help coalesce the community after a merger</li>
	    <li>Cultivate a culture of change in a CEO's first 100 days.</li>
	  </ul>
    </div>	
  </div>
  <div class = "case_study_display">
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "large_image360"><%= image_tag("temp/red_pic.png", :size => "540x360" ) %></div>
  </div>
</div>

<!-- CLARIFY -->

<div class = "one_col">
    <div class = "large_image360"> <%= image_tag("placeholders/home_5.png") %></div>	
    <div class = "openIt">
	  <div class="domainServices">
  	    <a>
		  <h3>CLARIFY</h3>
	      <p>turn information into useful knowledge.</p>
	    </a>    
	  </div>
    </div>                      
</div>

<div class = "home_sliding_box">
  <div class = "home_text" >
    <!-- <div class="closeIt">CLOSE</div> -->
    <h1>	Clarify - turn volumes of information into useful knowledge</h1>
    <div class="col360">
	  <p>Your people need to make more informed decisions, faster. To do this, they must:</p> 
	  <ul>	
	    <li>learn to think more clearly</li>
	    <li>demystify complexity</li>
	    <li>extract insights, significance and meaning</li>
	    <li>decipher relevance in data-drenched documents</li>
	    <li>convert information into content that enables good decisions.</li>
	  </ul>
    </div>
    <div class = "col450">	
	  <p>We have used the power of language, conversation and design to help leaders:	</p>
	  <ul>
	    <li>Revolutionise reporting to bring focus to essential questions and answers</li>
	    <li>Transform jargon into content that customers understand</li>
	    <li>Bring clarity of intent and meaning to compliance documents.</li>
	  </ul>
    </div>	
  </div>
  <div class = "case_study_display">
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>

    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
    <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
	
    <div class = "large_image180"><%= image_tag("temp/red_pic.png", :size => "540x360" ) %></div>
  </div>
</div>

<!-- LEARN -->

<div class = "one_col">
    <div class = "large_image360"> <%= image_tag("placeholders/home_6.png") %></div>	
    <div class = "openIt">
	  <div class="domainServices">
  	    <a>
		  <h3>LEARN</h3>
	      <p>a learning mindset throughout the organisation.</p>
	    </a>    
	  </div>
    </div>                      
</div>

<div class = "home_sliding_box">
  <div class = "home_text" >
    <!-- <div class="closeIt">CLOSE</div> -->
    <h1>	Learn - building an inquiring mindset</h1>
    <div class="col360">
	  <p>Designing the future requires a willingness to learn and an instinct for sense-making and storytelling. Your people need skills to face the future with creativity and a spirit of enterprise. We works with clients to build those capabilities. Our courses help individuals and systems:</p> 
	  <ul>	
	    <li>awaken imagination</li>
	    <li>master complexity</li>
	    <li>instil an innovative mindset</li>
	    <li>influence and guide the thinking of others.</li>
	  </ul>
	  <p>We teach people from front-line positions to board level executives. We make sure that you have time to absorb, reflect and discuss how each element can be applied to your professional context.</p> 
    </div>
    <div class = "col450">	
	  <p>We have used the power of reflective learning and learning-by-doing to help leaders:</p>
	  <ul>
	    <li>Build rigorous thinking into critical business systems</li>
	    <li>Encourage thinking for innovation throughout the organisation</li>
	    <li>Equip key people with new skills in leading group thinking processes.</li>
	  </ul>
    </div>	
  </div>

  <div class = "case_study_display">
    <div class = "large_image540"><%= image_tag("temp/red_pic.png", :size => "180x540" ) %></div>
	<div class = "tall_thin">
	  <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
	  <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>
	  <div class = "case_study_link"><%= image_tag("temp/case_study.png", :size => "180x180") %></div>  
	</div>
	<div class = "large_image540"><%= image_tag("temp/red_pic.png", :size => "180x540" ) %></div>
  </div>


</div>
<!-- following col to give some space -->
<div class = "one_col">
  <div class = "box_element"> <%= image_tag("spacer.gif") %></div>	
</div>


<div class = "one_col">
	<div class = "openIt"><%= image_tag("placeholders/header_dna.png") %></div>
</div>
<div class = "home_text" >
  <!-- <div class="closeIt">CLOSE</div> -->
  <h1>	What makes us different?</h1>
  <div class="col360">
	<p>Design and Language are the lifeblood of Second Road. The deliberate fusion of these two distinct yet complementary systems acts as catalyst to liberate creative thinking and cohere diverse communities.</p> 
	
	<p>We can’t avoid complexity. The challenge is how we respond to it. Second Road relishes the big, wicked problems that live in a complex landscape. Working with our clients we take a whole-of-system approach to harness ambiguity. At the core of our approach is the art and science that reside in design and language. We use these elements to carve creative, pragmatic pathways through complexity.</p> 
	
	<p>The elegance of language is its ability to unlock meaning, create clarity and convey relevance. The genius of design is its capacity to discover, invent and transform. Together, language and design turns complexity into opportunity.</p> 
  </div>	
</div>

<div class = "one_col">
	<div class = "openIt"><%= image_tag("placeholders/header_2rstory.png") %></div>
</div>
<div class = "home_text" >
  <!-- <div class="closeIt">CLOSE</div> -->	
  <h1>	What is the 'second road'?</h1>
  <div class="col450">
	<p>The Western world, from Aristotle onwards, has sought truth and direction along two different paths:</p> 
	<ul>
	  <li>a first road represented by the principles of logic, the engine room of analysis and analytic inquiry</li>
	  <li>a second road constituted by the principles of rhetoric - persuasive argument, intent, invention and socialisation.</li>
	</ul>
	<p>Aristotle’s opinion was that the first road is most suitable for answering questions of science and nature, the second for managing human nature and civic affairs.</p> 	
	<p>Both roads are powerful. Both yield insights. Both are necessary.</p> 
	<p>Our business world today, however, is not what it was a century, or even a decade ago. Interconnectedness, velocity, volatile change and the critical importance of people make it impossible to simply ‘make a plan and stick to it’. Logic and analysis alone are not enough to prepare an organisation for a future in a shifting, global environment.</p> 
	<p>Business leaders today need the second road - the path of invention and design - to envision compelling yet flexible strategy, create common purpose and mobilise people into action. They need new skills derived from the arts of design, language and storytelling.</p> 
	<p>Second Road is at the forefront of the ‘second road’ today.</p> 
  </div>	
</div>




<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>


<div id="extras" class="homeServices">  
  <%= image_tag("services-image.jpg", :width => "720", :height => "359" ) %>
  <h2>OUR DOMAINS OF EXPERIENCE AND EXPERTISE</h2>
  <div class="servicesBox" id="servicesBoxStrategise" style="display:block">
    <a href="#strategise">
      <h3>STRATEGISE</h3>
      <p>How do you build a future in an age of uncertainty?</p>
    </a>
  </div>

  <div class="servicesBox">
    <a href='#innovate'>
	  <h3>INNOVATE</h3>
      <p>How do you discover new opportunities and generate new ideas?</p>
    </a>    
  </div>
  <div class="servicesBox">
    <a href='#illuminate'>
	  <h3>ILLUMINATE</h3>
      <p>How do you turn too much information into useful knowledge?</p>
    </a>
  </div>
  <div class="servicesBox">
    <a href="#engage">
	  <h3>ENGAGE</h3>
      <p>How do you inspire employees to act?</p>
    </a>    
  </div>

</div>

<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>
<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>
<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>
<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>
<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>
<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>
<div class = "three_col">
	  <% image_array(3).each do |image| %>
        <div class = "box_element"><%= image -%></div>
	  <% end %>
</div>


<div id="promos">
  <div class="promoBox">
    <h3>What is an authorised organisation?</h3>
    <a href='http://www.reactive.com.au'>Play video</a>
  </div>
</div>
